.btn, .list-link {
  width: 350px;
  color: #ffffff;
}

.google, .article3 {
  background-color: #ff0000;
}

.yahoo, .article1 {
  background-color: #00ff00;
}

.bing, .article2 {
  background-color: #0000ff;
}

.btn:visited, .list-link:visited {
  opacity: 0.2;
}

.btn:hover, .list-link:hover {
  opacity: 0.5;
}

.google:active, .sixdollar:active {
  background-color: #0000ff;
}

.yahoo:active, .qwertee:active {
  background-color: #ff0000;
}

.bing:active, .mydealz:active {
  background-color: #00ff00;
}

.list-box, .list-item {
  list-style: none;
}